.footer__column-link{
    padding-left:0px;
    list-style: none;
    text-align:left;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    width:100%;
    text-decoration: none;
    color:white;
}